body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FAA21B;
    position: relative;
}
footer{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: red;
}
ul{
    list-style: square;
}

ul li li:last-child {
    color:blue;
}
p{
    max-width: 65ch;
}